altgraph==0.17
bottle==0.12.18
bottle-websocket==0.2.9
certifi==2022.12.7
chardet==3.0.4
Eel==0.12.2
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.9
macholib==1.14
modulegraph==0.18
py2app==0.21
PyQt5==5.14.2
PyQt5-sip==12.7.2
requests==2.23.0
selenium==3.141.0
urllib3==1.25.8
whichcraft==0.6.1
XlsxWriter==1.2.8
